/*Folha de Estilo secundária*/
/*Author: Rafael Dias*/

:root {
    /* Fonts */
    --K-font: 'Poppins', sans-serif;
    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;
    --fs-sm: 1rem;
    --fs-md: 2rem;
    --fs-lg: 3rem;

    /* Espacamentos */

    --section-espacamento: 6em;
    --section-espacamento-sm: 4em;
    --title-espacamento: 1em;

    /* Cores */
   --bg-kpax: linear-gradient(295deg, rgb(26, 214, 253) 0%, rgb(26, 214, 253) 0%, rgb(29, 98, 240) 100%, rgb(29, 98, 240) 100%);   
   --Cor-Pri:  #1aa2fd;
   --Color_01: rgba(24, 23, 23, 0.911); 
   --Color_02: #ffffff;  
   --Cor-Ter: #F39C44;
   --Cor-Txt-Pri:  #777777;
   --Cor-Txt-Sec: #fff; 
   --Sucess: rgb(35, 165, 94);
   --Cor-do-layout: rgb(238, 236, 236);     
}

/* Reset */

*, *::before, *::after{
box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;   
}
/* Resets para navegadores antigos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}body{line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}




/* Classes de Apoio */
.Color_01 {
  color: var(--Color_01);
}
.Color_02{
  color: var(--Color_02);
}

.sm-mb{
  margin-bottom: 0.4em;
}
/* Peso das fonts */
.-light-text {
  font-weight: 300; 
}
.regular-text{
  font-weight: 400;
}
.bold-text{
  font-weight: 800;
}
.black-text{
  font-weight: 900;
}

ligth-text

/* ALINHAMENTOS */

.t-center {  
   text-align: center;
}
.center {
  margin: 0 auto;
}
/* Margins & Paddings - Conforme eu vou precisando vou inserindo.*/ 


.mg-12 {
  margin: 12em 0;
}
.mg-15{
  margin: 15em 0;
}
.mg-20{    
    margin: 20em 0;    
}
.white {
  color: #EDEDED;
}
/*Classes de Apoio | Author:Rafael Dias*/
.center {
	text-align: center; 
}
.text-light-white{
	color: #EDEDED;
	font-family: Poppins-Light;
	font-size: 90%;
}
.bg-blue-grad{
	background: linear-gradient(295deg, rgb(26, 214, 253) 0%, rgb(26, 214, 253) 0%, rgb(29, 98, 240) 100%, rgb(29, 98, 240) 100%);
    width: 100%;
    height: 100vh;    
    visibility: inherit;
}
.flex-1{
	padding: 00.2em 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.uppercase{
	text-transform: uppercase;
}
.italic{
font-style: italic;
}
/*cores */
.green{
color: #94da46;
}
.yeallow{
color: #E8D046;
}
.blue{
color: #2498e5;
}



.btn-cta{
  width: 14em;
  height: 14em;
  color: #111;
  text-decoration: none;
  background-color: #fafafa;
}


.container {
    width: 85%;    
}




/*PADDINGS*/
.title-margins{
margin: 4% auto;
}
/*Espaçamentos*/
.espacamento-top{
	margin-top: 75px 0;
} 
.espacamento{
	margin: 75px 0;
}
.left{
	text-align: left;
}
.img-responsive{
    max-width: 100%;
    height: auto;   
    margin: 0 auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.left{
    text-align: left;   
}
.padding-top-05{    
    padding-top: 5em;
}
/*Grid*/
.Flex-01{    
    display: flex;
    align-items: center;
}
.Flex-Basic-Column{
    display: flex;        
    flex-direction: column;    
}
.center{
    margin: 0 auto;
    text-align: center;   
}
.img-responsive{
        max-width: 100%;
		height: auto;
		padding: 0;
		margin: 0;
}
.padding-10{
    padding-top: 4em;
}

/*FLEX*/

.flex-Column{
    display: flex;
    flex-direction: column;    
}

/*Grid*/

.logo-text{
font-size: 390%;
text-align: center;
font-weight:700;
}
.Grid-col-04{    
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.Grid-col-02{
margin: 0 auto;
padding: 0;
display: grid;
grid-template-columns: 2fr 3fr;
grid-template-rows: 1fr;
align-items: center;
}
.Grid-col-03{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
}
.Grid-4-Col-lg{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}
.Grid-5-Col-lg{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
}
.Grid-col-2-lg{
	display: grid;
	grid-template-columns: 1fr 1fr;	
}
.Flex-Col-Center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Flex-Col-Center{
	display: flex;
	flex-direction: column;
	align-items: left;
}
.margin-top-100{
	margin-top: 500px;
}
.style-normal{

	font-style: normal;
}
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.white{
	color:#fff;
}
.flex-01{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;	
}
/* Style all font awesome icons */
.fa {	
    padding: 20px;   
    width: 50px;
    text-align: center;
    text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube, .fa-pinterest, .fa-trello{    
    border-radius: 50%;
    background: #fafafa;
    /* border-radius: 2em; */
    color: #3f3f3f;
    margin: 0 2px;    
}

/* Galeria Grid Auto*/
#Galeria-01 {
	max-width: 1090px;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-auto-rows: 150px;
	grid-auto-flow: dense;
	justify-content: center;
}
#Galeria-01 img:hover{
	opacity: 0.8;
}
.normal{
	width:100%;
	height:100%;
}
.horizontal { 
	grid-column:  span 2;		
}
.vertical {
grid-row:  span 2;
}
.big {
grid-column: span 2;
grid-row: span 2;
}
.margin-t-40 {
	margin-top: 40px !important;
}



/* Fix-Bug Layout */ 
@media (max-width: 700px){
  #__layout{
  max-width: 500px;
   overflow-x: hidden;
  }}



/* KPAX HEADINGS */

.heading-primary {
   
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem; }
    .heading-primary--main {
      display: block;
      font-size: 6.2rem;
      font-weight: 400;
      letter-spacing: 3.5rem;
      animation-name: moveInLeft;
      animation-duration: 1.3s;
      animation-timing-function: ease-out;
      /*
          animation-delay: 1s;
          animation-iteration-count: 3;
          */ }
      @media (max-width: 37.5em) {
        .heading-primary--main {
          letter-spacing: 1rem;
          font-size: 4rem; } }
    .heading-primary--sub {
      color: #bdbdbd;
      font-family: 'Kalam', cursive;
      display: block;
      text-transform: none;
      margin-top: 3.2em;
      font-size: 2.5rem;
      line-height: 2rem;
      font-weight: 400;
      letter-spacing: 2.3rem;
      animation: moveInRight 1.3s ease-out; }
      @media (max-width: 37.5em) {
        .heading-primary--sub {
          letter-spacing: 2rem;
          font-size: 1.2rem; } }







/* KPAX BUTTONS */

.btn:link, .btn:visited {
    
    text-decoration: none;
    padding: 1.8rem 5rem;
    display: inline-block;
    /* border-radius: 10rem; */
    transition: all .2s;
    position: relative;
    font-size: 1.7rem;
    font-weight: 500;
    
  }
  
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff;
      z-index: 99; }
  
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    /* border-radius: 10rem; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  
  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }
  